@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap');
* {
    font-family:'Ubuntu', sans-serif; ;
}

.body {
    background-color: #161717;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 416px;
    justify-content: center;
    margin: auto;
    gap: 1px;
}

.container h2, h3 {
    margin: 2% 2%;
}

.container h3 {
    font-family: 'Pacifico', cursive;
}

.buttons {
    display: flex;
    margin: 25px 0 30px ;
}

.buttons button {
    border: none;
    border-radius: 4px;
}

.btn-google {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 1px 10px 1px 2px;
    width: 250px;
    height: 44px;
    color: #ffffff;
    background-color: #1a73e8;
}

.btn-google picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0 0 2px;
    background-color: #ffffff;
    margin-right: 16%;
    width: 39px;
    height: 39px;
}

.btn-google picture img{
    width: 20px;
}

.btn-google:hover {
    background-color: #5396ed;
    cursor: pointer;
}

.btn-twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    width: 51px;
    height: 44px;
    color: #ffffff;
    background-color: #f2f2f2;
    margin-left: 10px;
    border-radius: 8px;
}
.btn-twitter picture img{
    width: 1rem;
}

.btn-twitter:hover{
    background-color: #c1c1c1b0;
    cursor: pointer;
}

.separator {
    display: flex;
    flex-direction:row; 
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid;
    color: #e1e1e1; 
}
.separator p {
    padding: 0 10px 0 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.names {
    display: flex;
    gap: 5px;
    width: 40%;
}


.form label {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 12px 0;
    line-height: 1;
}

.form label span {
    margin: 14px 0 4px;
    border: 0;
    padding: 0;
}

.form label input {
    background-color: #f3f3f4;
    border:  1px solid transparent;
    border-radius: 8px;
    font-weight: 400;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 16px;
    outline: none;
}

.form label input:hover {
    border: 1px solid #e1e1e1;  
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
    box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
}
.form label input:focus {
    border: 1px solid #e1e1e1; 
    background-color: white;
    box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
}

.form button {
    color: #ffffff;
    background-color: #ea4c89;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 16px;
    margin-top: 22px;
    box-sizing: border-box;
}

.form button:hover {
    background-color: #f082ac;
    transition: color 200ms ease;
    cursor: pointer;
    text-decoration: none;
}
.checkbox {
    display: block;
    flex-direction: row !important;
}
.check {
    width: 25px;
    margin-right: 5%;
    color: #6e6d7a;
}